<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/symbol.png" alt="">
  </div>
  <div class="headings">
    <h2>sensitive information inside</h2>
    <h3>armoury details</h3>
    <a href="/smoothies" class="btn">CLICK IN A CLOSED  BOOTH</a>
  </div>
</header>


<%- include('partials/footer'); -%>