<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/AUG.jpg" alt="weapon">
    <h4>Aug assault rifles</h4>
    <p>Units ordered -> 50 thousand</p>
  </li>
  <li class="recipe">
    <img src="/javelin.jpg" alt="weapon">
    <h4>Javelin Anti-Tank missile</h4>
    <p>Units Ordered -> 10 thousand</p>
  </li>
  <li class="recipe">
    <img src="/s500.jpg" alt="weapon">
    <h4>S-500 Air Defence</h4>
    <p>Units ordered -> 35</p>
  </li>
  <li class="recipe">
    <img src="/rafale.jpg" alt="weapon">
    <h4>Rafale Jet</h4>
    <p>Units ordered -> 36</p>
  </li>
  <li class="recipe">
    <img src="/MQ9reaper.jpg" alt="weapon">
    <h4>MQ9 Reaper Drones</h4>
    <p>Units ordered -> 5</p>
  </li>
  <li class="recipe">
    <img src="/apache.jpg" alt="weapon">
    <h4>Apache AH-64E Attack Helicopter</h4>
    <p>Units Ordered -> 24</p>
  </li>
</ul>
<a href="/" class="btn">Exit</a>

<%- include('partials/footer'); -%>